

<h2><strong>Un petit creux ? Vous êtes au meilleur <br>
endroit</strong></h2>

<br>
<br>

<p> Choisissez votre plat préféré parmis nos restaurants triés sur le volet.
  Livré chez vous dans 20 minutes.
</p>



<%= "test-list restaurant en dessous" %>

  <% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%=  restaurant.address %></p>
  <p><%=  restaurant.phone_number %></p>

<% end %>


<%= %>



